@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;600;700&display=swap');
// font-family: 'Urbanist', sans-serif;

// HEADING 
// Bold -->
// 61
.bold-61{
    font-family: 'Urbanist', sans-serif;
    font-size: 4rem;
    font-weight: 700;
}
// 49 
.bold-49{
    font-family: 'Urbanist', sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
}
//39
.bold-39{
    font-family: 'Urbanist', sans-serif;
    font-size: 2.8rem;
    font-weight: 700;
}
//25
.bold-25{
    font-family: 'Urbanist', sans-serif;
    font-size: 2rem;
    font-weight: 700;
}
//20
.bold-20{
    font-family: 'Urbanist', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
}
//16
.bold-16{
    font-family: 'Urbanist', sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
}
//13
.bold-13{
    font-family: 'Urbanist', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
}
//10
.bold-10{
    font-family: 'Urbanist', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}


// SemiBold -->
//61
.semi-bold-61{
    font-family: 'Urbanist', sans-serif;
    font-size: 4rem;
    font-weight: 600;
}
// 49 
.semi-bold-49{
    font-family: 'Urbanist', sans-serif;
    font-size: 3.2rem;
    font-weight: 600;
}
//39
.semi-bold-39{
    font-family: 'Urbanist', sans-serif;
    font-size: 2.8rem;
    font-weight: 600;
}
//31
.semi-bold-31{
    font-family: 'Urbanist', sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
}
//25
.semi-bold-25{
    font-family: 'Urbanist', sans-serif;
    font-size: 2rem;
    font-weight: 600;
}
//20
.semi-bold-20{
    font-family: 'Urbanist', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}
//16
.semi-bold-16{
    font-family: 'Urbanist', sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}
//13
.semi-bold-13{
    font-family: 'Urbanist', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
}
//10
.semi-bold-10{
    font-family: 'Urbanist', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}


//--------------------------------------------------
//--------------------------------------------------
//--------------------------------------------------


// BODY 
// Light
//61
.light-61{
    font-family: 'Urbanist', sans-serif;
    font-size: 4rem;
    font-weight: 300;
}
// 49 
.light-49{
    font-family: 'Urbanist', sans-serif;
    font-size: 3.2rem;
    font-weight: 300;
}
//39
.light-39{
    font-family: 'Urbanist', sans-serif;
    font-size: 2.8rem;
    font-weight: 300;
}
//31
.light-31{
    font-family: 'Urbanist', sans-serif;
    font-size: 2.4rem;
    font-weight: 300;
}
//25
.light-25{
    font-family: 'Urbanist', sans-serif;
    font-size: 2rem;
    font-weight: 300;
}
//20
.light-20{
    font-family: 'Urbanist', sans-serif;
    font-size: 1.6rem;
    font-weight: 300;
}
//16
.light-16{
    font-family: 'Urbanist', sans-serif;
    font-size: 1.4rem;
    font-weight: 300;
}
//13
.light-13{
    font-family: 'Urbanist', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}
//10
.light-10{
    font-family: 'Urbanist', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

// Regular
//61
.regular-61{
    font-family: 'Urbanist', sans-serif;
    font-size: 4rem;
    font-weight: 400;
}
// 49 
.regular-49{
    font-family: 'Urbanist', sans-serif;
    font-size: 3.2rem;
    font-weight: 400;
}
//39
.regular-39{
    font-family: 'Urbanist', sans-serif;
    font-size: 2.8rem;
    font-weight: 400;
}
//31
.regular-31{
    font-family: 'Urbanist', sans-serif;
    font-size: 2.4rem;
    font-weight: 400;
}
//25
.regular-25{
    font-family: 'Urbanist', sans-serif;
    font-size: 2rem;
    font-weight: 400;
}
//20
.regular-20{
    font-family: 'Urbanist', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}
//16
.regular-16{
    font-family: 'Urbanist', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}
//13
.regular-13{
    font-family: 'Urbanist', sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}
//10
.regular-10{
    font-family: 'Urbanist', sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

