// Primary
// 1

$primary-1-50:#FFF3E5;
$primary-1-100:#FFE7CC;
$primary-1-200:#FFCF99;
$primary-1-300:#FFB866;
$primary-1-400:#FFA033;
$primary-1-500:#FB8600;
$primary-1-600:#CC6D00;
$primary-1-700:#995200;
$primary-1-800:#663600;
$primary-1-900:#331B00;
$primary-1-950:#1A0E00;

//2
$primary-2-50:#FFEBE5;
$primary-2-100:#FFD8CC;
$primary-2-200:#FFB199;
$primary-2-300:#FF8A66;
$primary-2-400:#FF6333;
$primary-2-500:#FF450D;
$primary-2-600:#CC3000;
$primary-2-700:#992400;
$primary-2-800:#661800;
$primary-2-900:#330C00;
$primary-2-950:#1A0600;


//Neutral

$neutral-50:#F2F2F2;
$neutral-100:#E6E6E6;
$neutral-200:#CCCCCC;
$neutral-300:#B3B3B3;
$neutral-400:#999999;
$neutral-500:#808080;
$neutral-600:#666666;
$neutral-700:#4D4D4D;
$neutral-800:#333333;
$neutral-900:#1A1A1A;
$neutral-950:#0D0D0D;